// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.btn.btn-primary {
  display: block;
  margin: 5px;
  padding: 10px;
  text-align: center;
  width: 33%;
  color: white;
}

.btn.btn-primary a {
  text-decoration: none;
  color: inherit;
}

.card-movie {
  height: 300px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
