// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.btn.btn-primary {
  margin: 5px;
  padding: 10px;
  text-align: center;
  // width: 33%;
  color: white;
}

.btn.btn-primary a {
  text-decoration: none;
  color: inherit;
}

.card-movie {
  height: 300px;
  width: 200px;
  border-radius: 5px;
  border: sold;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 2px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.list-show-box {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.delete-list {
  height: 30px;
  width: 30px;
  margin-bottom: 4px;
  border-radius: 45%;
  background-color: rgb(136, 40, 40);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}
